body{
	margin: 0; padding: 0;
}

.container{
	width: 100vw;
	height: 100vh;
	background-color: #769656;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box{
	width: 30%;
	background: white;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}

input{
	width: 50%;
	margin-bottom: 20px;
}

button{
	background: #769656;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
}